
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light text-center">Filter</div>
            <div class="container">
                <div class="col-md-12">
                    <form action="" method="get">
                        <div class="form-group">
                            <select name="filter1" id="filter1" class="col-md-12 form-control">
                                <option value="">Language</option>
                                <% for (let lang of progLang) { %>
                                <option value="<%= lang %>"><%= lang %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="filter2" id="filter2" class="col-md-12 form-control">
                                <option value="">Gender</option>
                                <% for (let gen of gender) { %>
                                    <option value="<%= gen.charAt(0).toLowerCase() %>"><%= gen %></option>
                                    <% } %>
                            </select>
                        </div>
                    </form>
                    <button id="sidebarFilter" class="btn btn-primary form-control" on-click="changeData()">filter Dashboard</button>
                </div>
            </div>
        </div>