<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>

<body>
   <%- include('includes/sidebar.ejs') %>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link">Welcome <b><%= loggedName %></b></a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="row">
                <h1 class="mt-4">Welcome to My Site</h1>
                <div class="col-md-4">
                    <h3>Experience</h3>
                    <canvas id="expChart" width="400" height="400"></canvas>
                      
                </div>
                <div class="col-md-4">
                    <h3>Program Language</h3>
                    <canvas id="langChart" width="400" height="400"></canvas>
                      
                </div>
                <div class="col-md-4">
                    <h3>City</h3>  
                    <canvas id="cityChart" width="400" height="400"></canvas>
                    
                </div>
                <div class="col-md-12" style="margin: 50px 0px;">
                    <h3>Tabular</h3>
                    <table id="tabular" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>City</th>
                                <th>Lang</th>
                                <th>Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% if (programmers.length > 0) { %>
                            <% for (let prg of programmers) { %>
                            <tr>
                                <td><%= prg.name %></td>
                                <td><%= prg.gender %></td>
                                <td><%= prg.city %></td>
                                <td><%= prg.lang %></td>
                                <td><%= prg.experience %></td>
                            </tr>
                            <% } %>
                        <% } else { %>
                            <h1>No Programmer</h1>
                        <% } %>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
<%- include('includes/end.ejs') %>